.help-nav {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.help-link {
    text-decoration: none;
    color: violet;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
  }
  
  .help-link:hover {
    color: hotpink;
    transform: scale(1.05);
  }
  
  .outlet-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  