.navbar {
    padding: 30px;
    background-color: purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: hotpink;
    transform: scale(1.05);
}

.nav-link.active {
    border-bottom: 2px solid hotpink;
}
  